# list
- creating
- indexing n slicing (same as string)
- methods
- comprehension

In [ ]:
a = []                                                  # empty list
b = [1,2,3,4]                                           # numerical list
c = ['apple', 'banana', 'cherry']                       # string list
d = ['apple', 1, 'banana', 2, 'cherry', 3]              # mixed list
e = [[1,2,3],[4,5,6],[7,8,9]]                           # list of lists
f = [['apple', 1], ['banana', 2], ['cherry', 3, 120]]   # mixed nested list
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

In [ ]:
for i in c:
    print(i)
for i in d:
    print(i)
for i in e:
    print(i)
for i in f:
    print(i)

In [ ]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1,2,3] * 5            # duplicated list
print(g)
print(h)
print(i)
print(j)

In [ ]:
movies = ['Kung Fu Panda', 'Wish Dragon', 
          'The Croods', 'Moana', 'Invincible']
print(movies)
print(len(movies))
print("first movie: ",movies[0])
print("last movie: ",movies[-1])
print("second movie: ",movies[1])
print("third movie: ",movies[2])

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
print(numbers[:3]) # 0, 1, 2
print(numbers[-3:]) # 8, 9, 10
print(numbers[2:-2]) # everthing except first two and last two
print(numbers[::-1])

### list methods (11)
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
- utility
  - `sort()`
  - `reverse()`
  - `index()`
  - `count()`
  - `copy()`

In [ ]:
fav_books = []
hated_books = []
for i in range(5):
    book = input("Enter your favorite book: ")
    fav_books.append(book)
for i in range(3):
    book = input("Enter your hated book: ")
    hated_books.append(book)
    
print("Favorite books: ", fav_books)
print("Hated books: ", hated_books)

In [ ]:
hated_books.append("Julius Caesar") # add to the end
print(hated_books)

In [ ]:
# merge two lists and create a new list
books = fav_books + hated_books
print(books)

In [ ]:
# adding a list to existing list 
books.extend(['Legion', 'Rithmatist','Steelheart'])
print(books)
print('total books: ', len(books))

In [ ]:
books.append(['Diary of a Wimpy Kid', 'Harry Potter']) # nesting
print(books)

In [ ]:
books.insert(1, 'The well of Ascension') # insert at index 1
books

In [ ]:
books[10] = 'Pygmalion' # replace at index 10
books

In [ ]:
books.remove("Steelheart") # remove by value

In [ ]:
books.pop(7) # remove by index

In [ ]:
books.pop() # remove last element

In [43]:
hated_books.clear() # remove all elements
hated_books

[]

#### wap to create an empty list, then fill the list with 10 prime numbers using a loop, starting with 2