In [ ]:
!pip install pandas

# pandas for analysis
- datasets
  - dictionary of items
  - list of dictionary
  - csv file
  - excel file
  - json file
  - sql connection
- creating dataframe
- reading data 
- selection of data
- manipulating data
- cleaning data
- visualizing data

In [ ]:
import pandas as pd

In [ ]:
books = {
    'title': ['The art of war', 'The final empire'],
    'author': ['Sun Tzu','Brandon Sanderson'],
    'price': [399, 1099],
}
pd.DataFrame(books)

In [ ]:
movies = [
    {'title':"PK", 'director':"Rajkumar Hirani", 'year':2014},
    {'title':"I", 'director':"Shankar", 'year':2015},
    {'title':"Pink", 'director':"Aniruddha Roy Chowdhury", 'year':2016},
]
pd.DataFrame(movies)

In [ ]:
pd.read_csv('dummy.csv')

In [ ]:
pd.read_json('dummy.json')

In [ ]:
pd.read_excel(r'C:\Users\ZAID\Documents\dummy.xlsx')

In [ ]:
url = 'https://raw.githubusercontent.com/digipodium/Datasets/main/regression/kc_house_data.csv'
df = pd.read_csv(url)
df

first steps after reading the data
- `df.head(nrows)` - first n rows
- `df.tail(nrows)` - last n rows
- `df.sample(nrows)` - random n rows
- `df.info()` - data types, missing values
- `df.describe()` - summary statistics
- `df.shape` - number of rows and columns
- `df.columns` - column names

In [ ]:
df.head(2)

In [ ]:
df.tail()

In [ ]:
df.sample(3)

In [ ]:
df.info()

In [ ]:
df.describe() # summary statistics for numerical columns (default)

In [ ]:
df.describe(include='object') # summary statistics for object columns

In [ ]:
df.shape

In [ ]:
print(df.columns.tolist())

In [ ]:
# simple sort
df.sort_values('bedrooms')

# selecting data in pandas
- dataframe
  - rows
    - iloc - index based location
    - loc - label based location
  - columns
    - single column selection
    - multiple column selection
    - column selection by data type
  - conditional selection
    - boolean indexing
    - query method

In [ ]:
df

In [ ]:
# select rows from iloc
df.iloc[100] # idx 100 row

In [ ]:
# random 5 rows
df.iloc[[1,59,100,200,300]] # idx [1, 59, 100, 200, 300] rows

In [ ]:
# random 5 rows, with selected columns
df.iloc[[1,10,20], [0,11,12,3,4]]

In [ ]:
df.iloc[15:50, :10] # idx 15-49 rows, 0-9 columns

In [ ]:
# selecting columns based on indexes
df.iloc[:, [0,5,10,11]]

In [ ]:
# updating index column
df = df.set_index('id')
df.head()

In [ ]:
df.loc[[1954400510, 7202330790]]

### single column selection
- dictionary like selection
  - `dataframe['column_name']`
- object like selection
  - `dataframe.column_name`

### multiple column selection
- dictionary like selection
  - `dataframe[list_of_column_names]`

In [ ]:
df['price']

In [ ]:
df.bedrooms

In [ ]:
df[['bedrooms','price','sqft_living']]

In [ ]:
col_list = ['grade','condition','yr_built']
df[col_list]

# boolean indexing
`df['column] > value`

`df['column] == value`

`df['column] != value`

In [ ]:
df[df['price'] > 1000000]

In [ ]:
# 5 star rated houses + 2 floors
df[(df['condition']==5) & (df['floors'] == 2)]

In [ ]:
f1 = df['price'] > 1000000
f2 = df['condition'] == 5
f3 = df['floors'] == 2
df[f1 & f2 & f3]

In [ ]:
df[f1 & f2 & f3].reset_index().style.background_gradient(cmap='GnBu')

In [ ]:
df[f1 & f2 & f3].reset_index().style.set_properties(color='red', subset=['price'])

In [ ]:
# query
df.query('price > 2500000')

In [ ]:
df.query('price > 2500000 and condition == 5')

In [161]:
df.query('price > 2500000 and condition == 5').sort_values('price')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
9471200370,20150330T000000,2537000.0,4,3.00,3710,20000,2.0,0,2,5,10,2760,950,1936,0,98105,47.6696,-122.261,3970,20000
9185700485,20150401T000000,2538000.0,4,3.50,4350,6000,2.0,0,0,5,10,2970,1380,1908,0,98112,47.6277,-122.286,4190,7200
1954700410,20140801T000000,2546000.0,4,3.00,4190,8805,2.5,0,2,5,9,3490,700,1928,0,98112,47.6181,-122.284,3780,8558
1069000070,20150415T000000,2795000.0,5,3.25,4590,12793,2.0,0,2,5,11,3590,1000,1928,0,98199,47.6453,-122.410,2920,8609
6065300840,20150501T000000,2850000.0,4,4.00,5040,17208,1.0,0,0,5,10,2870,2170,1976,0,98006,47.5701,-122.188,4050,18647
5317100750,20140711T000000,2920000.0,4,4.75,4575,24085,2.5,0,2,5,10,3905,670,1926,0,98112,47.6263,-122.284,3900,9687
6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,5,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281
3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,5,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
1732800780,20150212T000000,3065000.0,5,3.00,4150,7500,2.5,0,4,5,11,3510,640,1909,0,98119,47.6303,-122.362,2250,4050
7159200005,20140507T000000,3200000.0,7,4.50,6210,8856,2.5,0,2,5,11,4760,1450,1910,0,98109,47.6307,-122.354,2940,5400
1346300150,20141020T000000,3300000.0,8,4.00,7710,11750,3.5,0,0,5,12,6090,1620,1904,0,98112,47.6263,-122.314,4210,8325
4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,5,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810